<div class="container">
    <h3>ACCIONES</h3>
    <hr>
    <div class="d-grid gap-2">
        <button class="btn btn-outline-secondary" routerLink="/new-article">CREAR ARTICULO</button>
    </div>
    <hr>
    <form [formGroup]="frmSearch" (ngSubmit)="onSubmit($event)">
    <input type="text" 
           class="form-control"
           name="seach"
           formControlName="search">
    <div class="d-grid gap-2">
        <br>
        <button class="btn btn-outline-secondary" 
                type="submit"
                [disabled]="frmSearch.invalid">BUSCAR</button>
    </div>
    </form>
    <br>
</div>
