<div class="container-fluid">
    <div class="row">
        <div class="col-8 container-main">
            <h3>ULTIMOS ARTICULOS</h3>
            <hr>
            <div *ngFor="let article of articles" class="container">
                <div class="card mb-3 bg-secondary" > 
                    <div class="row g-0 align-items-center">
                      <div class="col-md-4 align-self-center">
                        <img *ngIf="article.imageURL" src="{{article.imageURL}}" class="img-card" alt="{{ article.title}}">
                        <img *ngIf="!article.imageURL" src="../../../assets/images/default.jpg" class="img-card" alt="{{ article.title}}">
                      </div>
                      <div class="col-md-8 bg-secondary">
                        <div class="card-body">
                          <h5 class="card-title">{{ article.title }}</h5>
                          <p class="card-text">{{ article.user.userName }}</p>
                          <p class="card-text">{{ article.created | amLocale: 'es' | amTimeAgo }}</p>
                          <hr>
                          <button class="btn btn-success">Ver Detalles</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col container-main">
            <app-aside></app-aside>
        </div>
    </div>
</div>

