
<div class="container-fluid my-1">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="container my-2">
        <div class="container-section">
          <h3>ULTIMOS ARTICULOS</h3>
          <hr> 
          <app-loader *ngIf="!articles"></app-loader>
          <div class="container py-3" *ngFor="let article of articles">
            <div class="card bg-secondary">
              <div class="row">
                <div class="col-4 align-self-center">
                  <img *ngIf="article.imageURL" src="{{article.imageURL}}" class="img-card" alt="{{ article.title}}">
                  <img *ngIf="!article.imageURL" src="../../../assets/images/default.jpg" class="img-card" alt="{{ article.title}}">
                </div>
                <div class="col-8 bg-secondary">
                  <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.user.userName }}</p>
                    <p class="card-text">{{ article.created | amLocale: 'es' | amTimeAgo }}</p>
                    <hr>
                    <button class="btn btn-success"
                            (click)="goDetails(article.id)">Ver Articulo</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="continer my-2">
        <div class="container-section">
          <app-aside></app-aside>
        </div>
      </div>
    </div>
  </div>
</div>
