<div class="container container-main">
    <div class="container">
        <h3>NUEVO ARTICULO</h3>
        <hr>
        <h5>Autor : autor</h5>
        <hr>
        <form>
            <label for="title">Tiutulo</label>
            <input type="text" name="title" class="form-control mb-2">
            <label for="image">Imagen</label>
            <input type="file" name="image" class="form-control mb-2">
            <label for="content">Contenido</label>
            <textarea name="content" rows="25" class="form-control mb-2"></textarea>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-success">Enviar</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-danger" routerLink="/home">Cancelar</button>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>
</div>
