<div class="container container-main">
    <div class="container">
        <h3>INGRESO USUARIOS</h3>
        <hr>
        <form [formGroup]="formLogin" (ngSubmit)="login($event)" novalidate>
            <input type="text" 
                   name="userName" 
                   placeholder="Nombre de Usuario" 
                   class="form-control mb-2"
                   formControlName="userName">
            <div *ngIf="formLogin.get('userName').errors && formLogin.get('userName').touched">
                <p class="error" *ngIf="formLogin.get('userName').hasError('required')">
                    <strong>El Nombre de usuario es requerido</strong>
                </p>
            </div>
            <input type="password" 
                   name="password" 
                   placeholder="Contraseña" 
                   class="form-control mb-2"
                   formControlName="password">
            <div *ngIf="formLogin.get('password').errors && formLogin.get('password').touched">
                <p class="error" *ngIf="formLogin.get('password').hasError('required')">
                     <strong>La Contraseña es requerida</strong>
                </p>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button type="submit" 
                                class="btn btn-outline-success"
                                [disabled]="formLogin.invalid">Ingresar</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-danger"
                                routerLink>Cancelar</button>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>
</div>
