<div class="container-fluid">
    <div class="row">
        <div class="col-8 container-main">
            <h3>BLOG</h3>
            <hr>
            <div class="container">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Imagen</th>
                            <th>Titulo</th>
                            <th>Autor</th>
                            <th>Creado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let article of articles">
                            <td>{{ article.id }}</td>
                            <td *ngIf="article.imageURL">
                                <img src="{{ article.imageURL }}" alt="{{ article.title}}" class="img-table" />
                            </td>
                            <td *ngIf="!article.imageURL">
                                <img class="img-table" src="../../../assets/images/default.jpg" alt="{{ article.title }}"/>
                            </td>
                            <td><strong>{{ article.title }}</strong></td>
                            <td>{{ article.user.userName }}</td>
                            <td>{{ article.created | amDateFormat: 'DD/MM/YYYY' }}</td>
                            <td><button class="btn btn-success">Detalles</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col container-main">
            <app-aside></app-aside>
        </div>
    </div>
</div>